.navbar {
    z-index: 1000;
}

.header {
    padding: 150px 0;
    background: url("../image/road.jpg") no-repeat gray;
    background-position: 0 -300px;
    background-size: cover;
}

.card img {
    height: 225px;
    object-fit: cover;
    object-position: 50% 50%;
}

.footer-list {
    list-style: none;
}

.footer-list__item {
    margin-right: 15px;
}

.header__title {
    text-shadow: 0 0 20px grey;
}

.subtitle-wrapper {
    background-color: #007bff;
    width: 100%;
}

.inform {
    height: calc(100vh - 56px);
    padding: 100px 0;
}

.rent {
    min-height: calc(100vh - 56px);
}

.main__card {
    margin: 50px 0;
    padding: 0 25px;
}

.main__card a {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main__card p {
    min-height: 144px;
    text-align: justify;
}

.main__card ul {
    min-height: 120px;
    text-align: justify;
}

.lease {
    min-height: calc(100vh - 56px);
    padding-top: 100px;
}

.lease-form {
    max-width: 500px;
    margin: auto;
}

.card-title span {
    float: right;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-list li {
    flex-basis: 110px;
}

.card {
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 0 5px 0 grey;
}