.header {
    padding: 150px 0;
    background: url("/image/road.jpg") no-repeat;
    background-position: 0 -300px;
    background-size: cover;
}

.card img {
    max-height: 180px;
    object-fit: cover;
    object-position: 0 50%;
}

.footer-list {
    list-style: none;
}

.footer-list__item {
    margin-right: 15px;
}